
$font-stack: "Recursive", monospace ;

$link: hsl(0, 0%, 21%);
$link-hover: hsl(204, 71%, 39%);

$read-more: hsl(204, 71%, 39%);
$read-more-hover: hsl(348, 100%, 61%);


body {
  font: 100% $font-stack;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body[theme="dark"] {
  filter: invert(1) hue-rotate(180deg);
}

section {
  flex: 1;
}

img[theme="dark"],
picture[theme="dark"],
video[theme="dark"] {
  filter: invert(1) hue-rotate(180deg);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  color: $link;
  &:hover {
    color: $link-hover;
  }
}
.read-more {
  color: $read-more;
  &:hover {
    color: $read-more-hover;
  }
}


$breakpoint-mobile: 768px;
@media (max-width: $breakpoint-mobile) {
  body {
    font: 85% $font-stack;
  }
}


/**
 * Visually hidden accessible label
 * Using styles that do not hide the text in screen readers
 * We use !important because we should not apply other styles to this hidden alternative text
 */
 .access-label {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

/**
 * Default icon style
 */
.icon {
  /* Use the current text color as the icon’s fill color. */
  fill: currentColor;
  /* Inherit the text’s size too. Also allows sizing the icon by changing its font-size. */
  width: 1em;
  height: 1em;
  /* The default vertical-align is `baseline`, which leaves a few pixels of space below the icon. Using `center` prevents this. For icons shown alongside text, you may want to use a more precise value, e.g. `vertical-align: -4px` or `vertical-align: -0.15em`. */
  vertical-align: middle;
  /* Paths and strokes that overflow the viewBox can show in IE11. */
  overflow: hidden;
}

.ShareComponent .icon {
  /* Change the width and height */
  font-size: 40px;
  /* Change the fill color */
  color: purple;
  /* Change the vertical-align if you need more precision
     (sometimes needed for pixel-perfect rendering) */
  vertical-align: -4px;
}

.icon-bicolor {
  fill: rebeccapurple;
  color: mediumturquoise;
}

.icon-small {
  font-size: 17px;
}

.padding {
	padding-right: 5px;
}

.tab {
 margin-right: 50px;
}
