{% extends 'base.html' %} {% block title %} {{ config.title }} | {{ page.title
}} {% endblock title %} {% block content %}
<section class="section pb-0">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <article>
          <h1 class="title">{{ page.title }}</h1>
          <h2 class="subtitle">{{ page.description }}</h2>
          <div class="columns is-multiline is-gapless">
            <div class="column is-8">
              {{ macros::page_publish_metadata(page=page) }} {{ macros::page_content_metadata(page=page) }}
            </div>
            <div class="column is-4 has-text-right-desktop">
              {% if page.taxonomies.tags %} {{
              macros::render_tags(tags=page.taxonomies.tags) }} {% endif %}
            </div>
          </div>
          <div class="content has-text-justified">
            {{ page.content | safe }}
          </div>
        </article>
      </div>
      {% if page.extra.toc %}
      <div class="column is-2 is-hidden-mobile">
        <aside class="menu" style="position: fixed">
          <p class="heading has-text-weight-bold">Contents</p>
          <ul class="menu-list">
            {% for h1 in page.toc %}
            <li>
              <a class="is-size-7" href="{{ h1.permalink | safe }}">
                {{ h1.title }}
                Hello
              </a>
              {% if h1.children %}
              <ul>
                {% for h2 in h1.children %}
                <li>
                  <a class="is-size-7" href="{{ h2.permalink | safe }}">
                    {{ h2.title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </aside>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock content %} {% block pagination%} {% if page.earlier or page.later or
page.lighter or page.heavier %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <nav class="level">
          {% if page.later %}
          <div class="level-item has-text-centered">
            <a class="button is-black is-outlined" href="{{ page.later.permalink }}">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="/sprite/icons.svg#chevron-left"></use>
              </svg>
              {{ page.later.title }}
            </a>
          </div>
          {% endif %} {% if page.earlier %}
          <div class="level-item has-text-centered">
            <a class="button is-black is-outlined" href="{{ page.earlier.permalink }}">
              {{ page.earlier.title }}
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="/sprite/icons.svg#chevron-right"></use>
              </svg>
            </a>
          </div>
          {% endif %} {% if page.heavier %}
          <div class="level-item has-text-centered">
            <a class="button is-black is-outlined" href="{{ page.heavier.permalink }}">
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="/sprite/icons.svg#chevron-left"></use>
              </svg>
              {{ page.heavier.title }}
            </a>
          </div>
          {% endif %} {% if page.lighter %}
          <div class="level-item has-text-centered">
            <a class="button is-black is-outlined" href="{{ page.lighter.permalink }}">
              {{ page.lighter.title }}
              <svg class="icon" aria-hidden="true" focusable="false">
                <use xlink:href="/sprite/icons.svg#chevron-right"></use>
              </svg>
            </a>
          </div>
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
</section>
{% endif %} {% endblock %} {% block comment %} {% if page.extra.comments and
config.extra.commenting.hyvor %}
<section class="section pt-0">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <div id="hyvor-talk-view"></div>
      </div>
    </div>
  </div>
</section>
{% endif %} {% endblock %} {% block custom_js %} {% if page.extra.comments and
config.extra.commenting.hyvor %}
<script type="text/javascript">
  var HYVOR_TALK_WEBSITE = {{ config.extra.commenting.hyvor }};
  var HYVOR_TALK_CONFIG = {
    url: window.location.href,
    id: window.btoa(encodeURIComponent(escape(window.location.href)))
  };
</script>
<script async src="//talk.hyvor.com/web-api/embed" type="text/javascript"></script>
{% endif %} {% endblock %}